@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(100, 99, 99);
  font-family: Georgia, "Times New Roman", Times, serif;
}

a:hover,
a:active {
  background: rgba(128, 128, 128, 0.377);
  border: 1px;
  border-color: rgb(105, 105, 105);
  border-style: solid;
  color: black;
}
/*
.Roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
*/
main {
  margin-right: 20%;
  margin-left: 20%;
  margin: 10%;
}

body {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/*Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.navleft {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: fixed;
  left: 0;
  bottom: 10%;
}

.nav-list {
  position: fixed;
  right: 0;
  top: 50%;
}
.tags {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.button {
  /*background-color: rgba(0, 0, 0, 0.048);*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(208, 219, 219, 0.404);
  background-color: rgba(189, 183, 183, 0.404);
  border-radius: 13px 0px 0px 0px;
  padding: 0px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px;
}

.button1 {
  /*background-color: rgba(0, 0, 0, 0.048);*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(208, 219, 219, 0.404);
  background-color: rgba(189, 183, 183, 0.404);
  border-radius: 0px 0px 0px 13px;
  padding: 0px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px;
}

.button_icon {
  background-color: rgba(0, 0, 0, 0.048);
  border-left: 10px;
  padding: 0px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px;
  border-radius: 50px 50px 0px 0px;
}
.button_icon1 {
  background-color: rgba(0, 0, 0, 0.048);
  border-left: 10px;
  padding: 0px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px;
  border-radius: 0px 0px 50px 50px;
}

.profielbild {
  width: 300px;
  border-radius: 100%;
}

/*box means the box aoround the Text*/
.box {
  background: white;
  box-shadow: 10px 20px 15px silver;
  border-radius: 1px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_left {
  padding-left: 2%;
}

.logoleft {
  width: 20px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
