@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans Condensed", sans-serif;
}
body {
  background-image: url(/images/background.jpg);
  background-size: cover;
}
/* top section till the first p tag*/
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.container img {
  border-radius: 100%;
  height: 350px;
  margin-top: -175px;
}
.container .background {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 175px 50px 50px 50px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  font-size: 60px;
}
.container p {
  padding: 40px 20px 20px 20px;
  font-weight: 5px;
}
/* top section till the first p tag*/
