@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

body {
  margin: 0;
  padding: 0;
}

/*Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.tags {
  border-bottom: solid;
  border-width: 1.5px;
  border-color: rgba(218, 214, 214, 0.301);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  align-items: flex-end;
  height: 100px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.button {
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  padding: 0px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.profielbild {
  width: 200px;
  border-radius: 100%;
}

.logo {
  width: 10px;
}
