@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  padding: 0px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px;
  color: rgb(126, 126, 126);
  font-family: Georgia, "Times New Roman", Times, serif;
}

a:hover,
a:active {
  background: rgba(128, 128, 128, 0.377);
  border: 1px;
  border-color: rgb(105, 105, 105);
  border-style: solid;
  color: black;
}
/*
.Roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
*/
main {
  margin-right: 20%;
  margin-left: 20%;
  margin: 10%;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

body {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/*Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.tags {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.nav-list {
  position: fixed;
  right: 0;
  top: 50%;
  margin-right: 2%;
}

.button {
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  padding: 0px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px;
}

.profielbild {
  width: 300px;
  border-radius: 100%;
}
/*
.box {
  box-shadow: 10px 20px 15px silver;
  border-radius: 1px;
  padding: 5%;
}
*/
.box {
  background: white;
  box-shadow: 10px 20px 15px silver;
  border-radius: 1px;
  padding: 5%;
}
