@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.Roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(129, 110, 110, 0.411);
}

.profielbild {
  width: 350px;
  border-radius: 10%;
}
